
@font-face {
    font-family: norm;
    src: url(./Font/Rubik-VariableFont_wght.ttf);
}
h1,h2,h3,h4,h5,h6,p,button,a{
   font-family: norm;
   color: white;
    
}

a:hover{
    opacity: 0.7;
}
button:hover{
    opacity: 0.7;
}
input{
    border-radius: 5px;
    font-size: 20px;
    height: 25px;
    width: 300px;
    border: 0px;
}
input:focus {
    outline: none;
}
button{
    padding: 0px;
    font-size: 21px;
    background-color:rgb(255, 4, 159) ;
    border-color:rgb(255, 4, 159) ;
    border-radius: 5px;
    font-family: norm;      
}
#Madeby{
    margin-top: 350px;
    margin-bottom: 0px;
}
html{
    background-image: url(./bilder/581337d808e78cb9bc01de2f52551d10949db13c.gif);
    background-repeat: repeat-y;
    background-size: cover;
}
img{
    width:31px;
    height: 31px;
}
img:hover{
 opacity: 0.7;
}
#input{
    background-color: white;
    display: flex;
    width: 304px;
    border-radius: 5px;
    margin-top: 5px;
}
#inputs{
    display: flex;
    flex-direction: column;
    width: 305px;
}
body{
    margin-left: 40%;
}
#Name{
    height: 27px;
}
#Crush{
    height: 27px;
}